<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Live Feed</title>
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body>
  <div class="section-wrap">
    <div class="section" ng-controller="mainCtrl as ctrl">
      <div class="table-wrap">
        <div class="tableHead">
          Live Feed
        </div>
        <table class="tableSection">
          <thead>
            <tr>
              <th>
                <a href="#" ng-click="sortType = 'Symbol'; sortReverse = !sortReverse">
                    Symbol
                    <span ng-show="sortType == 'Symbol' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'Symbol' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
              </th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody id="style-4">
            <tr ng-repeat="quote in ctrl.quotes | orderBy:sortType:sortReverse">
              <td>{{quote.Symbol}}</td>
              <td ng-style="{color: quote.change}">
                {{quote.Price | number:5}}
                <i ng-if="quote.change == 'green'" class="fa fa-arrow-up" aria-hidden="true"></i>
                <i ng-if="quote.change == 'red'" class="fa fa-arrow-down" aria-hidden="true"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="manage">
        <button ng-click="ctrl.connect()">Connect</button>
        <button ng-click="ctrl.disConnect()">Disconnect</button>
      </div>
    </div>
  </div>

  <script src="script/app.js"></script>
</body>
</html>